.main{
    width: 100%;
    
}
.remind{
    width: 978px;
    height: 34px;
    margin: 0 auto;
    padding: 41px 30px 18px;
    border-bottom: 1px solid #dfdfdf;
    font-weight: 900;
    font-size: 14px;
}
.remind img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: 5px;
}
.remind a{
    margin-left: 30px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 12px 28px;
    font-size: 12px;
    font-weight: 900;
    color: #000;
}
.progress{
    margin: 0 auto;
    width: 1026px;
    height: 55px;
    
    padding-top: 30px;
    position: relative;
}
.progress li{
    width: 25%;
    height: 55px;
    float: left;
    text-align: center;
    z-index: 1;
}
.progress li i{
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 14px;
    display: block;
    border-radius: 50%;
    background-color: #ccc;
    font-style: normal!important;
    margin: 0 auto 10px auto;
    z-index: 1;
}
.progress li a{
    font-size: 14px;
}
.progress li .done_st{
    background-color: #1428a0;
}
.progress li .done_te{
    color: #1428a0;
}
.progress_line{
    z-index: -1;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d4d4d4;
    top: 42px;
    position: absolute;
}
.pl_line{
    width: 25%;
    background: #1428a0;
    float: left;
    height: 3px;
    position: relative;
}
.pl_translate{
    background-image: linear-gradient(to right,#1428a0 0,#ccc 100%);
    height: inherit;
    position: absolute;
    left: 93%;
    width: 25%;
}
.car_content{
    width: 996px;
    margin: 0 auto;
    padding: 0 15px;
}
.shopcar_head{
    width: 996px;
    height: 28px;
    
    font-size: 19px;
    line-height: 28px;
    margin-top: 30px;
}
.car_title{
    width: 996px;
    height: 41px;
    position: relative;
    background-color: #f2f2f2;
    font-size: 13px;

}
.car_list{
    height: 113px;
    width: 996px;
}
.car_title div , .car_list div{
    float: left;
    line-height: 41px;
}
.car_title div p{
    line-height: 20px;
}
.chooseAll{
    width: 141px;
    height: 41px;
    font-size: 13px;
    
}
.chooseAll i{
    background: url("../../../imges/icon-common.png") 0 -408px no-repeat scroll transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-left: 10px;
    vertical-align: middle;
}
.chooseAll .active{
    background-position: -44px -408px;
}
.chooseAll img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.ggod{
    width: 207px;

}
.ggod p{
    line-height: 20px;
    font-size: 12px;
}
.danjia{
    width: 125px;
    text-align: center;
}
.jifen{
    width: 166px;
    text-align: center;
}
.shuliang{
    width: 190px;
    text-align: center;
}
.shuliang a{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.shuliang input{
    float: left;
    width: 23px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border:none;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-radius: 0;
}
.numcon{
    width: 65px;
    height: 20px;
    margin: 13px 58px 3px;
    border: 1px solid #e5e5e5;
}
.jine{
    width: 140px;
    text-align: right;
}
.numcon i{
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 0 0 5px;
    background: url("../../../imges/icon-common.png") -122px 0 no-repeat;
}
.minus i{
    background-position: -122px -60px;
}
.minus .min{
    background-position: -122px -40px;
}
.shuliang p{
    width: 190px;
    height: 20px;
}
.shuliang p a{
    margin:-10px 80px;
    width: 24px;

    display: block;
    text-decoration: underline;
    font-size: 12px;
}
.car_sum{
    width: 996px;
    margin: 25px auto;
    height: 40px;
}
.car_sum>p{
    width: 400px;
    float: left;
    font-size: 12px;
}
.icon_car{
    display: inline-block;
    width: 22px;
    height: 18px;
    margin: 0 11px -2px 3px;
    background: url("../../../imges/icon-common.png") -122px -114px no-repeat;
}
.car_sum_right{
    float: right;
    font-size: 12px;
}
.car_sum_right span{
    font-size: 20px;
    color: #1428a0;
    line-height: 22px;
    font-weight: bold;
    padding-left: 35px;
}
.ref{
    width: 100%;
    height: 142px;
    font-size: 20px;

}
.ref_a{
    display: block;
    margin: 0 auto;
    width: 200px;
    line-height: 180px;
}
.pay{
    width: 1026px;
    height: 41px;
    line-height: 41px;
    margin: 0 auto;
    background: #f2f2f2;
}
.pay_right{
    float: right;
    display: block;
    background: #1428a0;
    color: white;
    width: 217px;
    height: 41px;
    text-align: center;
    font-weight: bold;
}
.pay_left{
    font-size: 12px;
    color: #1428a0;
}
.pay_left i{
    display: inline-block;
    width: 8px;
    height: 14px;
    margin: 0 8px -2px 11px;
    background: url("../../../imges/icon-common.png") -122px -142px no-repeat;
}
.may_like{
    width: 1084px;
    padding: 0 10px;
    margin: 0 auto 30px;
    height: 951px;
}
.tj_goods{
    width: 180px;
    height: 270px;
    float: left;
    padding: 0 15px 20px;
    
}
.tj_goods img{
    width: 180px;
    height: 180px;
}
.tj_goods h2{
    font-weight: normal;
    display: block;
    width: 180px;
    height: 36px;
    font-size: 13px;
    text-align: center;
}
.tj_goods p{
    height: 25px;
    line-height: 25px;
    width: 180px;
    display: block;
    font-size: 13px;
    text-align: center;
}
.tj_goods a{
    display: block;
    text-align: center;
    background-color: #1428a0;
    color: #fff;
    width: 180px;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
}
